{% extends "base_generic.html" %}
{% block title %}
    Cannot Delete Category
{% endblock title %}
{% block content %}
    <h1>Cannot Delete Category</h1>
    <p>The category "{{ category.name }}" cannot be deleted because it is used in the following transactions:</p>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction }}</li>
        {% endfor %}
    </ul>
    <p>Please choose a new category for the affected transactions:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Replace Transactions</button>
        <a href="{% url 'user_dash' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock content %}
