{% extends "base_generic.html" %}
{% block title %}
    Replace Category
{% endblock title %}
{% block content %}
    <style>
        .block-content {
            text-align: center;
        }

        .block-content ul {
            text-align: left;
            display: inline-block;
            padding-left: 0;
        }
    </style>
    <div class="block-content">
        <p>The category "{{ category.name }}" is used in the following transactions:</p>
        <ul>
            {% for transaction in transactions %}
                <li>{{ transaction }}</li>
            {% endfor %}
        </ul>
        <p>Please choose a new category:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Replace Transactions</button>
            <a href="{% url 'user_dash' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}
