{% extends 'base_generic.html' %}

{% block content %}
    {% comment %} <h2>Upload transactions file</h2> {% endcomment %}
    <h2>Upload {{upload_type}}<h2/>
    <form id="upload-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="file" id="imgInput" />
        <input type="submit" name="submit" value="Upload"/>

        <p id="warning-message" style="display: none; color: red;">Please select a file.</p>

    </form>

    <br/>
    <img id="imgPreview" style="max-height: 500px"/> 


    <script>
        imgInput.onchange = e => {
            console.log("ON CHANGE TEST");
            const [file] = imgInput.files;
            if (file) imgPreview.src = URL.createObjectURL(file);
        };
    </script>

{% endblock content %}
