{% extends "base_generic.html" %}
{% block title %}
User Dashboard
{% endblock title %}

{% block content %}
<h2>Your Details:</h2>
<ul>
    <li>Salary: {{ user_dashboard.salary }}</li>
    <li>Saving Percentage: {{ user_dashboard.saving_percentage }}</li>
    <li>Fixed Percentage: {{ user_dashboard.fixed_percentage }}</li>
    <li>Spending: {{ user_dashboard.spending }}</li>
</ul>

<hr>

<div>
    <h2>Your Transactions</h2>
    <table style="border-collapse: separate; border-spacing: 2em;">
        <tr>
            <th>Date of</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>

        <div>
            <a href="{% url 'add_transaction' %}">Add Transaction</a>
            <a href="{% url 'upload_transaction' %}">Import Transactions</a>
        </div>

        {% for t in transactions %}
            <tr>
                <td>{{t.date_of}}</td>
                <td>${{t.amount}}</td>
                <td>{{t.category}}</td>
                <td><a href="{% url 'update_transaction' t.id %}">Edit</a></td>
                <td><a href="{% url 'delete_transaction' t.id %}">Delete</a></td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock content %}
