{% extends "base_generic.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
    User Profile
{% endblock title %}
{% block content %}
    <style>
        .profile-card {
            background-color: rgba(71, 71, 71, 0.404);
            border: 1px solid rgba(0, 0, 0, 0.125);
        }
    </style>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card profile-card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">Profile Details</h5>
                    </div>
                    <div class="card-body profile-details" style="color: rgb(0, 0, 0);">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-0 border-top" style="color: white;">First Name: {{ user.first_name }}</li>
                            <li class="list-group-item border-0" style="color: white;">Last Name: {{ user.last_name }}</li>
                            <li class="list-group-item border-0" style="color: white;">Age: {{ user.userprofile.age }}</li>
                            <li class="list-group-item border-0 border-bottom" style="color: white;">Gender: {{ user.userprofile.get_gender_display }}</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a href="{% url 'user_profile:profile_update' %}" class="btn btn-primary">
                            <i class="fas fa-edit me-1"></i> Update Profile
                        </a>
                        <a href="{% url 'password_change' %}" class="btn btn-warning">
                            <i class="fas fa-user-cog me-1"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock content %}
